{% extends "helpdesk/public_base.html" %}
{% load i18n bootstrap %}

{% block helpdesk_body %}

{% if kb_categories %}
    <h2>{% trans "Knowledgebase Articles" %}</h2>

    <table class="table table-hover table-bordered table-striped">
        <caption>{% trans "Knowledgebase Categories" %}</caption>
        <thead>
            <tr><th>{% trans "Category" %}</th></tr>
        </thead>
        <tbody>
            {% for category in kb_categories %}
                <tr><th><a href='{{ category.get_absolute_url }}'>{{ category.title }}</a></th></tr>
                <tr><td>{{ category.description }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
<div class="col-xs-9">
    <div class="panel panel-default" style="border-color: #f7770a">
        <div class="panel-heading" style="padding: 5px 15px; background-color: #f7770a; border-color: #f7770a; color:#FFFFFF;">
            <h4 style="margin-bottom:0px;">{% trans "Submit a Ticket" %}</h4>
            <small>
                {% trans "All fields are required." %} {% trans "Please provide as descriptive a title and description as possible." %}
            </small>
        </div>
        <div class="panel-body">
            <form role="form" id="ticket_form" method='post' action='./#submit' enctype='multipart/form-data'>
                <fieldset>
                    <!-- {{ form|bootstrap }} -->
                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            {% if field.name == 'body' or field.name == 'title'  %}
                                <div class="col-md-12">
                                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                                        <label class="control-label" for='id_{{ field.name }}'>{{ field.label }}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}</dt>
                                        <div class="form-group" {% if field.help_text %} style="margin-bottom:0px;" {% endif %}>{{ field }}</div>
                                        {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
                                        {% if field.help_text %}<span class='fhelp-block' style="font-size:80%;">{{ field.help_text }}</span>{% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-4">
                                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                                        <label class="control-label" for='id_{{ field.name }}'>{{ field.label }}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}</dt>
                                        <div class="form-group" {% if field.help_text %} style="margin-bottom:0px;" {% endif %}>{{ field }}</div>
                                        {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
                                        {% if field.help_text %}<span class='fhelp-block'  style="font-size:80%;">{{ field.help_text }}</span>{% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class='col-md-12 text-center'>
                            <input type='submit' class="btn btn-success" value='{% trans "Submit Ticket" %}' />
                        </div>
                    </div>
                </fieldset>

            {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endif %}

{% if not helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC and not helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
        <h2>{% trans "Please use button at upper right to login first." %}</h2>
{% endif %}

{% if helpdesk_settings.HELPDESK_VIEW_A_TICKET_PUBLIC %}
<div class="col-xs-3">
    <div class="panel panel-default" style="border-color: #f7770a">
        <div class="panel-heading" style="padding: 5px 15px; background-color: #f7770a; border-color: #f7770a; color:#FFFFFF;">
            <h4 style="margin-bottom:0px;">{% trans "View a Ticket" %}</h4>
            <small>
                {% trans "All fields are required." %} 
            </small>
        </div>    
        <div class="panel-body">
            <form method='get' action="{% url 'helpdesk:public_view' %}">
                <fieldset>
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label for='id_ticket'>{% trans "Ticket" %}</label>
                        <input type='text' name='ticket' class="form-control"/>
                    </div>
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label for='id_email'>{% trans "Your E-mail Address" %}</label>
                        <input type='text' name='email' class="form-control" />
                    </div>
                    <div class='buttons form-group text-center'>
                    <input type='submit' class="btn btn-success"  value='{% trans "View Ticket" %}' />
                    </div>
                </fieldset>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endif %}

<div style="border:1px solid #f7770a;display: block; position: fixed; bottom: -1px; height: 300px; width:250px; background-color:#FFFFFF; right:20px; border-radius:5px 5px 0px 0px">
<div class="header" style="color:#FFFFFF; background-color:#f7770a; padding:5px 10px; display:block; ">
    Ask Me, support online
    <i tutle="Minimize" class="fa fa-caret-down pull-right" style="margin-top:3px; cursor:pointer;" id="chatbox-icon"></i>
</div>
</div>



{% endblock %}

