{% load i18n humanize %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-custom panel-custom-orange">
                        <div class="panel-heading panel-heading-orange">
                            <strong>
                            {% if ticket_list_caption %}{{ ticket_list_caption }}{% else %}{% trans "Your Tickets" %}{% endif %}
                            </strong>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body panel-custom-body panel-body-scrollbar-1em" style="height:200px; overflow:auto;">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" style="margin:0px;font-size:85%">
                                    <thead class="table-heading-orange">
                                        <tr>
                                            <th width="150px" style="text-align:center">Ticket ID</th>
                                            <th width="100px" style="text-align:center">{% trans "Priority" %}</th>
                                            <th style="text-align:center">{% trans "Title" %}</th>
                                            <th width="150px" style="text-align:center">{% trans "Queue" %}</th>
                                            <th width="100px" style="text-align:center">{% trans "Status" %}</th>
                                            <th width="150px" style="text-align:center">{% trans "Last Update" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ticket in ticket_list %}
                                        <tr>
                                            <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.ticket }}</a></td>
                                            <td>
                                                <span class="color-{{ ticket.get_priority_css_class }}">
                                                    {% if ticket.priority == 1 %} Critical
                                                    {% elif ticket.priority == 2 %} High
                                                    {% elif ticket.priority == 3 %} Normal
                                                    {% elif ticket.priority == 4 %} Low
                                                    {% elif ticket.priority == 5 %} Very Low
                                                    {% endif %}
                                                </span>
                                            </td>
                                            <td><a href='{{ ticket.get_absolute_url }}'>{{ ticket.title }}</a></td>
                                            <td>{{ ticket.queue }}</td>
                                            <td>{{ ticket.get_status }}</td>
                                            <td><span title='{{ ticket.modified|date:"r" }}'>{{ ticket.modified|naturaltime }}</span></td>
                                        </tr>
                                        {% empty %}
                                        <tr>{% if ticket_list_empty_message %}<td colspan='6'>{{ ticket_list_empty_message }}</td>{% else %}<td colspan='6'>{% trans "You do not have any pending tickets." %}</td>{% endif %}</tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>

